.container div {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    gap: 15px;
    align-items: center;
}

.header > .user-info1 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-items: center;
    align-items: center;
}

.header > .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 15px;
}

ul {
    list-style-type: none;
}

.main-content {
    grid-area: main-content;
}