* {
    font-family: Roboto, sans-serif;
}

img {
    width: 50px;
    height: 20px;
}

.container div {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    gap: 15px;
    align-items: center;
}

.header > .user-info1 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-items: center;
    align-items: center;
}

.header > .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.sidebar {
    grid-area: sidebar;
    /* display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 15px; */
}

.sidebar > h2 {
    display: inline-block;
}

ul {
    list-style-type: none;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 60px 250px 250px 250px;
    gap: 30px;
}

.project {
    height: auto;
}

.projects > h3 {
    grid-column: 1 / -1;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
    display: grid;
}

.trending > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}