.container div {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 15px;
}

ul {
    list-style-type: none;
}

.main-content {
    grid-area: main-content;
}